name: Publish Packages
on:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: macos-14
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Publish To GitHub Packages
        run: |
          ./gradlew publishAllPublicationsToGithubPackagesRepository
        env:
          PUBLISH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}